{% load tz %}
{% timezone "Australia/Sydney" %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Star Compliance</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Montserrat', sans-serif;
        }

        .page_table2_main {
            page-break-before: always;
            width: 99%;
            /* max-width: 11.5in; */
            table-layout: fixed;
            /* padding: 25px; */
            margin: 0 auto;
            /* border: 1px solid; */
            font-size: 14px;
        }

        .logo {
            max-width: 65px;
        }

        .address {
            padding: 25px 0px;
            padding-bottom: 32px;
        }

        .address p {
            margin: 0px;
            font-weight: bold;
            font-size: 14px;
            margin-bottom: 4px;
        }

        .address p:first-child {
            text-transform: uppercase;
        }

        .detail_table {
            width: 100%;
            border: none;
            border-collapse: collapse;
        }

        .detail_table td {
            padding: 12px 15px;
            text-align: center;
            font-size: 14px;
            border: none;
            outline: none;
            box-shadow: none;
            border-collapse: collapse;
        }

        .detail_table th {
            padding: 12px;
        }

        .detail_table tr:nth-child(odd) {
            background-color: #F0F2F7;
        }

        .head_row {
            background-color: #fff !important;
        }

        .head_row td {
            font-weight: bold;
        }
    </style>
</head>

<body>
    {% for venue_data, incidents in venue_wise_data.items %}
    <table class="page_table2_main">
        <tr>
            <td colspan="2" class="address">
                <p>{{venue_data.name}}</p>
                <p>LIC: {{venue_data.license_number|default:"-"}}</p>
                {% if happened_from and happened_to %}
                <p>{{happened_from}} to {{happened_to}}</p>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <table class="detail_table">
                    <tr class="head_row">
                        <td>
                            ID
                        </td>
                        <td>
                            STAFF
                        </td>
                        <td>
                            SUBMITTED DATE/TIME
                        </td>
                        <td>
                            INCIDENT DATE/TIME
                        </td>
                        <td>
                            SUMMARY
                        </td>
                        <td>
                            VENUE LOCATION
                        </td>
                        <td>
                            INCIDENT CATEGORY
                        </td>
                        <td>
                            ACTION
                        </td>
                    </tr>
                    <tbody>
                        {% for incident in incidents %}
                        <tr>
                            <td>
                                {{incident.unique_id}}
                            </td>
                            <td>
                                {{incident.drafted_by.first_name}} {{incident.drafted_by.last_name}}
                            </td>
                            <td>
                                {{incident.created_at}} AEST
                            </td>
                            <td>
                                {{incident.happened_at}} AEST
                            </td>
                            <td style="width: 100%;">
                                {% if incident.summary %}
                                {{incident.summary}}
                                {% else %}
                                N/A
                                {% endif %}
                            </td>
                            <td>
                                {{incident.location}}
                            </td>
                            <td>
                                {{ incident.categories|join:", " }}
                            </td>
                            <td>
                                {{incident.actions_list}}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
    {% endfor %}
</body>

</html>
{% endtimezone %}