{% load tz %}
{% timezone "Australia/Sydney" %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Star Compliance</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Montserrat', sans-serif;
        }

        table {
            border-collapse: collapse;
            width: 100%;
            page-break-inside: avoid;
        }

        table tr,
        table td {
            page-break-inside: avoid;
        }

        .page_table_main {
            width: 100%;
            /* max-width: 8in; */
            table-layout: fixed;
            /* padding: 25px; */
            margin: 0 auto;
            /* border: 1px solid; */
            font-size: 14px;
        }

        .logo {
            max-width: 65px;
        }

        .created_table {
            width: 100%;
            /* table-layout: fixed; */
            color: #272727;
            background-color: #F0F2F7;
            padding: 20px;
            margin-top: 20px;
        }

        .right {
            position: absolute;
            right: 24px;
            width: 25%;
            bottom: 0px;
        }

        .security {
            text-align: right;
            vertical-align: middle;
        }

        .security h5 {
            font-size: 13px;
        }

        .security img {
            max-width: 30px;
            vertical-align: middle;
            padding-left: 8px;
        }

        .created_table td {
            font-size: 12px;
            padding: 12px;
            vertical-align: top;
        }

        .modified {
            min-width: 2.5in;
        }

        .venue_table {
            width: 100%;

        }

        .venue_table td {
            max-width: 1.5in;
            padding: 2px 10px;
            height: unset;
            line-height: unset;
            vertical-align: top;
        }

        .page_table_main h5,
        .venue_table,
        .cctv h5 {
            padding: 0px;
            margin: 0px;
            margin-top: 18px;
        }

        .hr {
            border-top: 1px solid #000;
            margin: 20px auto;
        }

        .b_b {
            border-bottom: 1px solid #000;
        }

        .user {
            border-radius: 50%;
            width: 65%;
        }

        .created_user_img {
            position: relative;
        }

        .minus_margin {
            margin-bottom: -5px;
        }

        .witness_bottom {
            margin-top: 10px;
            margin-bottom: 8px;
        }

        .m_20 {
            margin: 20px auto;
        }

        .mb_2 {
            margin-bottom: 2px;
        }

        .created_table p {
            margin: 0px;
            margin-bottom: 8px;
        }

        .created_table th {
            text-align: left;
            padding: 12px 12px;
        }

        .right_tick {
            width: 7%;
        }

        .cctv {
            width: 100%;
        }

        .cctv h5 {
            margin-bottom: 5px;
        }

        .media_container {
            width: calc(50% - 20px);
            border-radius: 4px;
            background-color: #F0F2F7;
            display: inline-block;
            height: 215px;
            object-fit: cover;
            margin: 10px 5px;
            margin-bottom: 0px;
            margin-top: 22px;
        }

        .media {
            height: 100%;
            overflow: hidden;
            align-items: center;
            display: block;
            margin: 0 auto;
            top: 50%;
            position: relative;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
        }
        .tl_f {
            table-layout: fixed;
        }
        .no_padding {
            padding: 0px !important;
        }
        .injury_img {
            max-width: 100%;
            padding: 50px 0px;
            max-height: 255px;
            margin: 0 auto;
            display: block;
        }
        .m_0
        {
            margin: 0px;
        }
        .minus_margin_top_20
        {
            margin-top: -20px;
        }
        .venue_table.tl_f td h5
        {
            margin-top: 25px;
        }
        .created_light
        {
            font-weight: 500;
            padding-left: 10px;
        }
        .fixed_table_layout {
            table-layout: fixed;
        }
    </style>
</head>

<body>
    <table class="page_table_main">
        <tr>
            <td>
                <h2>INCIDENT# {{incident.unique_id}}</h2>
            </td>
        
            <td class="security">
                <h5>{{organisation_name}} <img style="height: 40px; width: 30px; object-fit: cover;"
                        src="{{organisation_logo}}" alt="Star Compliance" /> </h5>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <table class="created_table">
                    <thead>
                        <th>
                            CREATED
                        </th>
                        <th>
                            <span class="created_light">{{incident.drafted_at}} AEST</span>
                        </th>
                        <th class="modified">
                            MODIFIED
                        </th>
                        <th>
                            SUBMITTED
                        </th>
                        <th>APPROVED</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="created_user_img">
                                    {% if incident.drafted_by.profile_picture %}
                                    <img class="user" src="{{incident.drafted_by.profile_picture.url}}" alt="Star Compliance" />
                                    {% else %}
                                    <img class="user" src="{{image_base_url}}/user.png" alt="Star Compliance" />
                                    {% endif %}
                                    {% if verified_logo %}
                                    <img class="right" src="{{verified_logo}}" alt="Star Compliance" />
                                    {% endif %}
                                </div>
                            </td>
                            <td>
                                {{incident.drafted_by.first_name}} {{incident.drafted_by.last_name}}
                                <br>
                                LIC: {{incident.drafted_by.license_number}}
                            </td>
                            <td>
                                {% for log in incident_logs %}
                                <p>{{log.created_at}} AEST by {{log.user.first_name}} {{log.user.last_name}}</p>
                                {% endfor %}
                            </td>
                            <td>
                                {% if incident.submitted_at %}
                                    {{incident.submitted_at.date}}
                                {% else %}
                                    Pending Submission
                                {% endif %}
                            </td>
                            <td>
                                {% if incident.approved_at %}
                                    {{incident.approved_at.date}}
                                {% else %}
                                    Pending Approval
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>

            </td>
        </tr>
        <tr>
            <td colspan="2">
                <table class="venue_table fixed_table_layout">
                    <tr>
                        <td>
                            <h5>VENUE</h5>
                        </td>
                        <td>
                            <h5>VENUE MANAGER</h5>
                        </td>
                        <td>
                            <h5>INCIDENT DATE and TIME</h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
            
                            {{incident.venue.name}}
                            <br>
                            LIC: {{incident.venue.license_number}}
                        </td>
                        <td>
                            {{incident.venue_manager.first_name}} {{incident.venue_manager.last_name}}
                        </td>
                        <td>
                            {{incident.happened_at}} AEST
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <hr class="hr m_20 mb_2" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <table class="venue_table fixed_table_layout">
                    <tr>
                        <td>
                            <h5>LOCATION IN VENUE</h5>
                        </td>
                        <td>
                            <h5>INCIDENT TYPE</h5>
                        </td>
                        <td>
                            <h5>ACTION TAKEN</h5>
                        </td>

                    </tr>
                    <tr>
                        <td>

                            {{incident.location}}
                        </td>
                        <td>
                            {{incident.categories|join:", "}}
                        </td>
                        <td>
                            {{actions_list}}
                        </td>
                    </tr>

                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <hr class="hr m_20 mb_2" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <table class="venue_table">



                    <tr>
                        <td>

                            <h5> PEOPLE INVOLVED</h5>
                        </td>

                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td>

                            {{incident.person_count}}
                        </td>

                        <td>

                        </td>
                    </tr>

                </table>
            </td>
        </tr>
        {% for person in incident_persons %}
        <tr>
            <td colspan="2">
                <table class="venue_table">
                 
                 
                  
                    <tr>
                        <td>
                            
                       <h5>PERSON {{forloop.counter}}</h5>
                        </td>
                
                        <td>
                      
                        </td>
                    </tr>
                   
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <table class="venue_table tl_f">
                    <tr>
                        <td>
            
                            <h5>NAME</h5>
                        </td>
            
                        <td>
                            <h5>LICENSE NUMBER</h5>
                        </td>
                        <td colspan="">
                            <h5>INJURY COMMENTS</h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{person.name}}
                        </td>
            
                        <td>
                            {{person.license_number}}
                        </td>
                        <td colspan="" rowspan="14">
                            {{person.injury_description}}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <table class="venue_table tl_f">
                    <tr>
                        <td style="margin-top: 0px;">
            
                            <h5 style="margin-top: 0px;">AGE</h5>
                        </td>
            
                        <td style="margin-top: 0px;">
                            <h5 style="margin-top: 0px;">PHONE NUMBER</h5>
                        </td>
                        <td colspan="" rowspan="14" style="margin-top: 0px;">
                            {% if person.injury_image %}
                                <img class="injury_img" src="{{person.injury_image.url}}" alt="" />
                            {% else %}
                                <img class="injury_img" src="{{image_base_url}}/human_body.png" alt="" />
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{person.age}}
                        </td>
            
                        <td>
                            {{person.phone_number}}
                        </td>
                    </tr>
                    <tr>
                        <td>
            
                            <h5>GENDER</h5>
                        </td>
            
                        <td>
                            <h5>EMAIL</h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
            
                            {{person.get_gender_display}}
                        </td>
            
                        <td>
            
                            {{person.email}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>BUILD</h5>
                        </td>
                        <td>
                            <h5>CLOTHING TOP</h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{person.build|default:"-"}}
                        </td>
                        <td>
                            {{person.top_clothing|default:"-"}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>HEIGHT</h5>
                        </td>
                        <td>
                            <h5>CLOTHING BOTTOM</h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{person.height|default:"-"}}
                        </td>
                        <td>
                            {{person.bottom_clothing|default:"-"}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>HAIR</h5>
                        </td>
                        <td>
                            <h5>SHOES</h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{person.hair|default:"-"}}
                        </td>
                        <td>
                            {{person.shoes|default:"-"}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>WEAPON</h5>
                        </td>
                        <td>
                            <h5>OTHER</h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{person.weapon|default:"-"}}
                        </td>
                        <td>
                            {{person.other_description|default:"-"}}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <hr class="hr" />
            </td>
        </tr>
      
       
        <tr>
            <td colspan="2">
                <table class="venue_table minus_margin_top_20">
                 
                    <tr>
                        <td>
                            <h5> WITNESS</h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{person.is_witness|default:"-"}}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <hr class="hr witness_bottom" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        {% endfor %}
    </tr>
    <tr>
        <td colspan="2">
            <h5>INCIDENT SUMMARY</h5>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            {{incident.summary}}
        </td>
    </tr>
    <tr>
        <tr>
            <td colspan="2">
                <table class="cctv">
                    <tr>
                        <td>
                            <h5>CCTV</h5>
                        </td>
                        <td>
                            <h5>CAPTURED ON CCTV</h5>
                        </td>
                        <td colspan="2" style="min-width: 1.8in;">
                            <h5>BURNED TO DISC</h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {% if incident.footage_on_cctv or incident.footage_on_disc %}
                            <img class="right_tick" src="{{image_base_url}}/right_black.png" alt="Star Compliance" />
                            {% else %}
                            -
                            {% endif %}
                        </td>
                        <td>
                            {% if incident.footage_on_cctv %}
                            <img class="right_tick" src="{{image_base_url}}/right_black.png" alt="Star Compliance" />
                            {% else %}
                            -
                            {% endif %}
                        </td>
                        <td colspan="2">
                            {% if incident.footage_on_disc %}
                            <img class="right_tick" src="{{image_base_url}}/right_black.png" alt="Star Compliance" />
                            {% else %}
                            -
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <hr class="hr mt_2" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>LINKED TO OTHER INCIDENT</h5>
                        </td>
                        <td>
                            <h5>INCIDENT NUMBER</h5>
                        </td>
                        <td colspan="2">
                            <h5></h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {% if incident.linked_incident %}
                            <img class="right_tick" src="{{image_base_url}}/right_black.png" alt="Star Compliance" />
                            {% else %}
                            -
                            {% endif %}
                        </td>
                        <td>
                            {% if incident.linked_incident %}
                            {{incident.linked_incident.unique_id}}
                            {% else %}
                            -
                            {% endif %}
                        </td>
                        <td colspan="2">
            
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <hr class="hr mt_2" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <!-- <tr>
            <td colspan="2">
                <h5>VENUE MANAGER COMMENT</h5>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Adipiscing mattis sed euismod etiam vitae morbi
                volutpat. Maecenas ultricies aenean facilisi nulla tincidunt orci sed sit molestie. Lectus sit at platea
                leo sed lorem dolor. Scelerisque lectus lacus, est aliquam viverra ac, et. Habitant eleifend viverra
                sapien tortor.
            </td>
        </tr> -->
        <tr>
            <td colspan="2">
                <hr class="hr mt_2" />
            </td>
        </tr>
        <tr>
            <td>
                <h5>INCIDENT MEDIA</h5>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                {% for incident_media in incident_medias %}
                <div class="media_container"> <img class="media" src="{{incident_media.media_file.url}}"
                        alt="Star Compliance" /></div>
                {% endfor %}
            </td>
        </tr>
    </table>

</body>

</html>
{% endtimezone %}