<html>
  <head>
    <title>
      Error in Star compliance
    </title>
  </head>

  <body>
    Hi Admin,
    <br>
    There was an error while {{while}}.
    <br>
    <b>Details:</b>
    <br>
    {{details}}
  </body>
</html>