{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Login</title>

	<style>
		* {
			box-sizing: border-box;
		}

		body {
			margin: 0;
			font-family: "Montserrat", "Segoe UI", Tahoma, Geneva, Verdana, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
		}

		.auth_page {
			background-color: #272727;
			min-height: 100vh;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.form_group {
			margin: 20px 0px;
		}

		.form_group input[type=password] {
			padding-right: 32px;
		}

		.form_group label {
			display: block;
			font-size: 14px;
			padding-left: 10px;
			letter-spacing: 0.4px;
			color: #fff;
			font-weight: 700;
			margin-bottom: 14px;
			text-transform: uppercase;
		}

		.form_group input {
			background-color: #e8f0fe;
			border: 0px;
			color: black;
			border-radius: 8px;
			padding: 0px 15px;
			width: 100%;
			font-weight: 500;
			font-size: 13px;
			min-height: 41px;
			max-width: 425px;
		}

		.form_group input:focus {
			outline: none;
		}

		.sign_in_form {
			color: #fff;
			width: 95%;
			max-width: 350px;
		}

		.sign_in_form .sign_in_form_logo {
			margin-left: auto;
			margin-right: auto;
			display: block;
		}

		.sign_in_form h1 {
			text-align: center;
			margin-top: 30px;
			margin-bottom: 20px;
		}

		.sign_in_form button.primary {
			background-color: #D9B571;
			color: #000;
			font-weight: 600;
			border: 0px;
			width: 100%;
			text-align: center;
			border-radius: 50px;
			padding: 13px;
			margin-top: 0px;
			margin-bottom: 25px;
			transition: all ease 0.1s;
		}

		.sign_in_form button.primary:hover {
			background-color: #D9B571;
		}

		.mask_input {
			position: relative;
		}

		.mask_input input {
			padding-left: 47px !important;
		}

		.mask_input .mask_icon {
			position: absolute;
			left: 0px;
			top: 0px;
			height: 100%;
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 45px;
		}

		.mask_input .mask_icon img {
			width: 25px;
		}

		.mask_input .rigth {
			left: auto;
			right: 0 !important;
		}
	</style>
</head>

<body>
	<div>

		<Head>
			<title>Login | Star Compliance</title>
		</Head>
		<div class="auth_page">
			<form method="post" action="{% url 'login' %}" class="sign_in_form" id="login_form">
					{% csrf_token %}
				<img height="170" src="{% static "logo.png" %}" alt="" style="margin:0px auto; display: block;"/>
				<h1>SIGN IN</h1>
				{% if form.errors %}
					<p style="color: red;">Your username and password didn't match. Please try again.</p>
				{% endif %}
				<div class="form_group">
					<label htmlFor="email">YOUR EMAIL</label>
					<div class="mask_input">
							{{ form.username }}
						<span class="mask_icon"><img src="{% static "mail.svg" %}" alt="" /></span>
					</div>

				</div>
				<div class="form_group" style="margin-bottom: 0">
					<label htmlFor="password">YOUR PASSWORD</label>
					<div class="mask_input">
							{{ form.password }}
						<span class="mask_icon"><img style=" width: 18px" src="{% static "lock.svg" %}" alt="" /></span>
					</div>
				<br>
				</div>
				<button class="primary" type="submit">SIGN IN</button>
				<input type="hidden" name="next" value="{{ next }}">
				<br />
				<br />

			</form>
		</div>
	</div>
</body>

</html>